<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Médico</h4>
        <h6 class="card-subtitle">Información</h6>

        <form class="form p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">

          <div class="form-group row" *ngIf="medicoSelect">
            <label>Avatar</label>
            <div class="input-group">
              <div class="input-group">
                <img src="{{medicoSelect.img | img: 'medicos'}}"
                     class="w100 cursor"
                     alt="Imagen Médico">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" id="exampleInputuname"
                     formControlName="nombre" placeholder="Nombre">
            </div>
          </div>

          <div class="form-group row">
            <label for="hospitales" class="col-sm-3 control-label">Hospital</label>
            <div class="input-group">
              <select class="form-control" id="hospitales" formControlName="hospital" >
                <option value="">Seleccione Hospital</option>
                <option *ngFor="let h of hospitales"
                  value="{{h._id}}">{{h.nombre}}</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                  [disabled]="medicoForm.invalid">
            <i class="fa fa-save m-2"></i>Guardar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="hospitalSelect">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{hospitalSelect.nombre}}</h6>

        <img [src]="hospitalSelect.img | img: 'hospitales'"
             class="w100 cursor"
             alt="Imagen Hospital">

      </div>
    </div>
  </div>
</div>

